<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8" />
        <meta name="Alfredo main.html" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="stylesheet" href="../styles/menu.css" />
        <link rel="stylesheet" href="../styles/speech.css" />

        <title>Alfredo Main</title>

    </head>

    <script src="../app/alfredo.js"></script>
    <script src="../app/animation.js"></script>
    <script src="../app/behavior.js"></script>
    <script src="../app/display.js"></script>
    <script src="../app/init.js"></script>
    <script src="../app/input.js"></script>
    <script src="../app/menu.js"></script>
    <script src="../app/movement.js"></script>
    <script src="../app/music.js"></script>
    <script src="../app/screens.js"></script>
    <script src="../app/speech.js"></script>

    <body onload="init()">

        <audio id="danceAudio" src="../assets/dance.mp3" preload="auto"></audio>

        <!-- ALFREDO -->

        <img id="alfredo" draggable="false" src="../assets/idle.gif" alt="Alfredo-Looking-Right" onclick="say('Hello')">

        <!-- CHAT BOX -->

        <div id = "alfredoSpeechBubble" style = "display: none;">
            <p id = "alfredoSpeech" >Hello! I am Alfredo.</p>
        </div>

        <!-- CUSTOM MENU -->

        <div id = "customContextMenu" style = "display: none;">
            <ul class = "menuItems">
                <li class = "items"><a href = "#" onclick="moveToPercent(0.5, 0.5);;return false;"> CenterPosition </a></li>
                <li class = "items"><a href = "#" onclick="aniIdle();return false;"> Idle </a></li>
                <li class = "items"><a href = "#" onclick="promptWalk();return false;"> (x,y) walk </a></li>
                <li class = "items"><a href = "#" onclick="dance();return false;"> Dance </a></li>
                <li class = "items"><a href = "#" onclick="window.close();;return false;"> Exit </a></li>
            </ul>
        </div>

    </body>

</html>